.main{width: 100%; height: 100vh; display: flex; flex-direction: row;}
.main > .nav-wrap{position: relative; left: auto; top: auto; width: 250px; height: 100%; z-index: 2000; transition: all .5s ease;}
.main > .nav-wrap::before{content: ''; display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: -1;}
.main > .nav-wrap > nav{width: 100%; height: 100%; background-color: var(--color3); overflow: auto;}
.main > .nav-wrap > nav > ul{width: 100%;}
.main > .nav-wrap > nav > ul > li > a{display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 1em; text-decoration: none; color: var(--color10);}
.main > .nav-wrap > nav > ul > li > a > svg{width: 2em; height: 2em; fill: var(--color10);}
.main > .nav-wrap > nav > ul > li > a > span{display: block; width: calc(100% - 3em);}
.main > .nav-wrap > nav > ul > li > a:hover{background-color: var(--color2);}
.main > .nav-wrap > nav > ul > li > a.active{background-color: var(--color2);}

.main > .page-wrap{width: calc(100% - 250px); height: 100%; overflow: auto; transition: all .5s ease; }
.main > .page-wrap > .page{position: relative; width: 100%; min-height: 100%; padding-bottom: 55px;}
.main > .page-wrap > .page > header{position: sticky; left: 0; top: 0; width: 100%; padding: 1em; box-shadow: 0 5px 5px rgba(0,0,0,0.1); background-color: white; z-index: 1000; display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.main > .page-wrap > .page > header > button{position: relative; width: 2em; height: 2em;}
.main > .page-wrap > .page > header > button > span{position: absolute; width: 100%; height: 3px; background-color: var(--color5); left: 0; transition: .5s ease;}
.main > .page-wrap > .page > header > button > span:nth-child(1){top: 0;}
.main > .page-wrap > .page > header > button > span:nth-child(2){top: 50%; transform: translateY(-50%);}
.main > .page-wrap > .page > header > button > span:nth-child(3){bottom: 0;}

.main > .page-wrap > .page > article{padding: 1em 0;}
.main > .page-wrap > .page > footer{position: absolute; left: 0; top: calc(100% - 55px);}

.main.active > .nav-wrap{width: 64px;}
.main.active > .page-wrap{width: calc(100% - 64px);}
.main.active > .nav-wrap > nav > ul > li > a > span{display: none;}
.main.active > .page-wrap > .page > header > button > span:nth-child(1){width: 50%; left: calc(50% + 3px); top: calc(50% - 3px); transform: translateY(-100%) rotate(45deg);}
.main.active > .page-wrap > .page > header > button > span:nth-child(3){width: 50%; left: calc(50% + 3px); bottom: calc(50% - 3px); transform: translateY(100%) rotate(-45deg);}

.link-wrap{width: 100%; overflow: auto; margin-bottom: 1em;}
.link-wrap > ul{display: flex; flex-direction: row;}
.link-wrap > ul > li > a{text-decoration: none; display: block; padding: 1em; border-bottom: 2px solid transparent; color: black;}
.link-wrap > ul > li > a.active{border-bottom: 2px solid var(--color3); color: var(--color3);}

#page-profile-introduce{}

#page-profile-about{padding: 0 1em;}
#page-profile-about > .profile-wrap{display: flex; flex-direction: row; align-items: initial; justify-content: space-between;}
#page-profile-about > .profile-wrap > .image-wrap{position: relative; width: 300px; max-width: 100%;}
#page-profile-about > .profile-wrap > .image-wrap > img{position: sticky; left: 0; top: 70px; width: 100%;}
#page-profile-about > .profile-wrap > .info-wrap{width: calc(100% - 300px - 1em);}
#page-profile-about > .profile-wrap > .info-wrap > .block{margin-bottom: 1em;}
#page-profile-about > .profile-wrap > .info-wrap > .block > .title{font-size: 30px; margin-bottom: 10px;}
#page-profile-about .basic-table .row > .thead{width: 20%;}
#page-profile-about .basic-table .row > .info{width: 80%;}
#page-profile-about .study-table .row > .year{width: 4em;}
#page-profile-about .study-table .row > .month{width: 2em;}
#page-profile-about .study-table .row > .description{width: calc(100% - 4em - 2em);}
#page-profile-about .license-table .row > .year{width: 4em;}
#page-profile-about .license-table .row > .month{width: 2em;}
#page-profile-about .license-table .row > .description{width: calc(100% - 4em - 2em);}

@media(max-width: 1024px){
    .main > .nav-wrap{position: fixed; left: -250px; top: 0;}
    .main > .page-wrap{width: 100%;}
    .main.active > .nav-wrap{left: 0; width: 250px;}
    .main.active > .nav-wrap > nav > ul > li > a > span{display: block;}
    .main.active > .page-wrap{width: 100%;}
    .main.active > .nav-wrap::before{display: block;}

    #page-profile-about > .profile-wrap{flex-direction: column; align-items: center;}
    #page-profile-about > .profile-wrap > .image-wrap{width: 100%; max-width: 300px;}
    #page-profile-about > .profile-wrap > .info-wrap{width: 100%;}
}